spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/empiezo;NON_KEYWORDS=USER;MODE=MySQL
    username: sa
    driver-class-name: org.h2.Driver

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    check-template-location: true

  session:
    store-type: jdbc
    timeout: 3600
    jdbc:
      initialize-schema: always

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1000202227745-j6gubevipbqs77p1lursbu12sipoi0v9.apps.googleusercontent.com
            client-secret: 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
            scope: profile, email

logging:
  level:
    org:
      hibernate:
        SQL: debug
        orm:
          jdbc:
            blind: trace
