<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시글 작성</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/css/boardcreate.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">
  <h1>게시글 작성</h1>
  <form id="post-form">
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" class="form-control" id="title" name="title" >
    </div>
    <div class="form-group">
      <label for="content">내용</label>
      <textarea class="form-control" id="content" name="content" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">작성</button>
  </form>
</div>

<script>
  $(document).ready(function() {
    $('#post-form').submit(function(event) {
      event.preventDefault();

      const title = $('#title').val();
      const content = $('#content').val();

      const jsonData = {
        "title" :title,
        "content" : content
      };

      $.ajax({
        url: '/posts',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(jsonData),
        success: function(response) {
          alert('게시글 작성 완료');
          location.href = "/posts";
        },
        error: function(error) {
          alert('게시글 작성 실패');
          console.log(error);
        }
      })
    })
  })
</script>

</body>
</html>