html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}



.fieldError {
    border-color: deeppink;
    color: deeppink;
}

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-register .form-floating:focus-within {
    z-index: 2;
}

.form-register input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.form-register input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
